{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:promise/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["prettier", "@typescript-eslint", "unused-imports"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-empty-pattern": "off",
    "no-undef": "error",
    "no-var": "error",
    "unused-imports/no-unused-imports": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-unused-expressions": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "globals": {
    "ChaiHttp": "readonly"
  }
}
